html,
body {
  padding: 0;
  margin: 0;
  font-family: helvetica, verdana, arial, sans-serif;
}

body {
  font-size: 62.5%;
  background-color: black;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sound {
  z-index: 1;
  position: absolute;
  bottom: 6%;
  right: 2%;
  border: 0.5vw solid black;
  border-radius: 50%;
  width: 6vw;
}

.hidden_animation {
  height: 1px;
  width: 1px;
}

.media {
  width: 100%;
  height: 100%;
}

.media_audio {
  display: none;
}

.animation__spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("src/loading.gif");
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.animation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.animation__image {
  width: 100%;
  height: 100%;
}

.credit {
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #dcdcdc;
  font-size: 1.2em;
}
